SPRING_PROFILE=dev

JWT_SECRET=cambiar-este-secreto-en-produccion-min-32-chars
JWT_EXPIRATION_MS=3600000

INTERNAL_API_KEY=dev-internal-key-cambiar-en-produccion

PRODUCTS_DB_NAME=products_db
PRODUCTS_DB_USER=products_user
PRODUCTS_DB_PASSWORD=products_pass
PRODUCTS_DB_PORT=5432

INVENTORY_DB_NAME=inventory_db
INVENTORY_DB_USER=inventory_user
INVENTORY_DB_PASSWORD=inventory_pass
INVENTORY_DB_PORT=5433

PRODUCTS_SERVICE_PORT=8081
INVENTORY_SERVICE_PORT=8082

RATE_LIMIT_CAPACITY=50
RATE_LIMIT_REFILL=50

IDEMPOTENCY_TTL_HOURS=24
